/* MAIN BEGIN */
article {
  background-color: #B5C9CE !important;
}
.photo-article {
  max-width: 100%;
}
#photo-mobile {
  display: none;
}
@media only screen and (max-width: 680px) {
  #photo-mobile {
    display: block;
  }
  #photo-screen {
    display: none;
  }
}
p {
  width: 135%
}
#aside {
  margin-bottom: 20%;
  transition: all .5s ease-in-out;
}
#aside:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 992px) {
  p {
    width: 100%
  }
  #aside {
    margin-bottom: 0;
  }
}
/* MAIN END */
