
html, body {
  min-width: 415px;
  font-family: 'Josefin Sans', sans-serif;
}
/* HEADER BEGIN */
#logo {
  width: 400px;
  height: 200px;
}
.logo-facebook {
  height: 75px;
  width: 75px;
}
@media only screen and (max-width: 680px) {
  .logo-hidden {
    display: none;
  }
  header hr {
    display: none;
  }
  header {
    margin-bottom: 15px;
  }
}
header a {
  text-decoration: none;
  color: black;
}
header {
  margin-bottom: 1%;
}
@media only screen and (max-width: 576px) {
  header > .row {
    margin-bottom: 2%;
  }
}
/* NAVBAR BEGIN */
@media only screen and (max-width: 446px) {
  nav .navbar-toggler {
    margin: auto;
  }
  /* #navbarchorale ul {
    padding-left: 10%;
    padding-right: 10%;
  } */
}
@media only screen and (max-width: 991px) {
  header nav {
    width: 30%;
    margin-left: auto;
  }
}
/* NAVBAR END */
/* HEADER END */
/* DEBUT STYLE FOOTER */
footer
{
	display: flex;
	justify-content: space-around;
	position: relative;
  margin: 0;
}
.fondfooter{
  background-color: #B5C9CE !important;
}
.txt_small
{
	word-break: normal;
	margin: auto;
	width: auto;
	border-radius: 15px;
	margin-top: 10px;
}
.blockEnLigne
{
	display: inline-block;
  flex-wrap:
  width: auto;
}
/* Afficher masquer block cookie */
#container
{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0px;
}
#cookie
{
	display:none;
	background: #F2F2F2;
	padding:1%;
}
#afficher:target #cookie
{
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%);
	width:98%;
	width: 98%;
}
.masquer
{
	display:none;
}
#afficher:target .masquer
{
	display:inline;
}
#afficher:target .afficher
{
	display:none;
}
/* Afficher masquer block politique confidentialite*/
#polConfidence
{
	display:none;
	background: #F2F2F2;
	padding:1%;
  width: auto;
}

#afficher2:target #polConfidence
{
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%);
	width:98%;
	width: 98%;
}
.masquer2
{
	display:none;
}
#afficher2:target .masquer2
{
	display:inline;
}
#afficher2:target .afficher2
{
	display:none;
}
/* Politique infos personnelles*/
#polInfoPerso
{
	display:none;
	background: #F2F2F2;
	padding:1%;
}
#afficher3:target #polInfoPerso
{
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%);
<<<<<<< HEAD
=======
	width:98%;
>>>>>>> Francois
	width: 98%;
}
.masquer3
{
	display:none;
}
#afficher3:target .masquer3
{
	display:inline;
}
#afficher3:target .afficher3
{
	display:none;
}
/* FIN STYLE FOOTER */
/* JUMBOTRON ENDING */
.jumbotron
{
  background-color: rgba(137,147,138,1);
}
/* JUMBOTRON BEGIN */
/* NAVBAR BEGIN */
#navbarchorale {
  color: white;
  font-weight: bold;
  }
.bg-grey
{
  background-color: grey;
}
#logo1
{
width: 25px;
}
/* NAVBAR ENDING */
@media screen and (max-width: 600px)
{
    #container{
      display: flex;
      justify-content: flex-start;
      width: 85%;
    }
    #afficher:target #cookie{
      width: 80%;
      align-items: flex-start;
    }
    #afficher2:target #polConfidence{
      width: 80%;
      align-items: flex-start;
    }
    #afficher3:target #polInfoPerso{
      width: 80%;
      align-items: flex-start;

    }

}
